@model HMS.Areas.Dashboard.ViewModel.AccomodationTypeViewModel


@if(Model !=null && Model.AccomodationTypes!=null && Model.AccomodationTypes.Count()>0)
{ 
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" width="20%">Name</th>
                <th scope="col" width="50%">Description</th>
                <th scope="col" width="20%">Action</th>
            </tr>
        </thead>
        <tbody>
            
         
                @foreach (var item in Model.AccomodationTypes)
                {
            <tr>

                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <button type="button" class=" btn btn-primary " style="width:70px">Edit</button>
                    <button type="button" class=" btn btn-danger">Delete</button>

                </td>
            </tr>
                }

           

        </tbody>
    </table>
}
else { 
<div class="alert alert-warning" role="alert" >
    Sorry! No result found

</div>

}