@model HMS.Areas.Dashboard.ViewModel.AccomodationTypeViewModel


@if(Model !=null && Model.AccomodationTypes!=null && Model.AccomodationTypes.Count()>0)
{ 
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col" width="20%">Name</th>
                <th scope="col" width="50%">Description</th>
                <th scope="col" width="20%">Action</th>
            </tr>
        </thead>
        <tbody>
            
         
                @foreach (var item in Model.AccomodationTypes)
                {
            <tr>

                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <button type="button"data-toggle="modal" data-target="#actionmodal" data-href="@Url.Action("Action", "AccomodationTypes",new {Id=item.Id})" class=" btn btn-primary databtn " style="width:100px">
                        <i class="fa fa-pencil mr-1" aria-hidden="true"></i>Edit

                    </button>
                    <button type="button" class=" btn btn-danger databtn" data-toggle="modal" data-target="#actionmodal" data-href="@Url.Action("Delete", "AccomodationTypes",new {Id=item.Id})"  style="width:100px">
                        <i class="fa fa-trash-o mr-1" aria-hidden="true"></i>Delete

                    </button>

                </td>
            </tr>
                }

           

        </tbody>
    </table>
}
else { 
<div class="alert alert-warning" role="alert" >
    Sorry! No result found

</div>

}